html {
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
}

.main {
  max-width: 1300px;
  margin: 0 auto 2em auto;
}

.main-header {
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar {
  padding: 5px 15px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.nav-home, .dropdown {
  display: block;
  font-weight: 500;
  font-size: 2rem;
  border-width: 0;
}

.nav-link-list {
  margin: 0;
  padding-top: 5px;
  height: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
}

.nav-links:focus-within > .nav-link-list {
  overflow: visible;
}

.nav-links-dismiss {
  display: none;
}

.nav-links:focus-within + .nav-links-dismiss {
  display: block;
  position: absolute;
  font-size: 2rem;
  right: 0;
  top: 0;
  padding: 5px 15px;
}

.nav-link {
  font-weight: 300;
  font-size: 1rem;
  display: block;
  background-color: hsl(0, 0%, 95%);
  padding: 20px;
  border-bottom: 1px solid hsl(0, 0%, 85%);
}

.rank {
  font-size: .9rem;
  font-weight: 300;
  text-transform: uppercase;
  background-color: hsl(0, 0%, 90%);
  padding: 3px;
}

.page-title {
  font-weight: 350;
  font-size: 2.5rem;
  margin: 0;
}

.subtitle {
  font-weight: 250;
  font-size: 1.25rem;
  margin-top: 0;
  margin-bottom: 17px;
}

.taxa-list-title {
  font-size: .9rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 0;
}

.genus, .species, .journal {
  font-style: italic;
}

.nav-home {
  color: darkslategrey;
}

a {
  text-decoration: none;
  color: sienna;
}

@media (hover: hover) {

  a:hover {
    filter: brightness(50%);
  }

}

.nav-parent {
  margin-bottom: 30px;
  display: inline-block;
}

.parent-taxa-rank {
  text-transform: uppercase;
  font-weight: 300;
}

.prev, .next {
  font-size: .8rem;
  margin-bottom: 17px;
  display: inline-block;
}

.prev {
  margin-right: 3px;
}

.next {
  margin-left: 3px;
}

.navbar, .row1, .row2, .row3, .index-container, .glossary-container {
  border-bottom: 1px solid hsl(0, 0%, 85%);
  background-color: hsl(0, 0%, 95%);
}

.row2 {
  padding-right: 19px;
  padding-bottom: 15px;
}

.row3 {
  padding: 19px;
}

.main-img {
  max-width: 100%;
  display: block;
  margin: 0;
}

.map {
  max-width: 100%;
  display: block;
  margin: 0;
}

.figure {
  margin: 0;
  position: relative;
}

.col1 .figure {
  max-width: 250px;
}

.carousel {
  position: relative;
  width: 100%;
  aspect-ratio: 4/3;
  container-type: inline-size;
}

.carousel-viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
  overflow-y: hidden;
}

.carousel-image {
  position: relative;
  flex: 0 0 100%;
  scroll-margin-top: 100px;
}

.carousel-snapper {
  position: absolute;
  top: 0;
  left: 0;
  scroll-snap-align: center;
  width: 100%;
  aspect-ratio: 4/3;
}

.carousel::before, .carousel::after, .carousel-prev, .carousel-next {
  position: absolute;
  top: 0;
  width: 36px;
  height: 100%;
  font-size: 0;
  outline: 0;
}

.carousel::before, .carousel-prev {
  left: 0;
}

.carousel::after, .carousel-next {
  right: 0;
}

.carousel::before, .carousel::after {
  color: white;
  z-index: 25;
  font-size: 2.5rem;
  line-height: 80cqw;
  text-align: center;
  pointer-events: none;
}

.carousel::before {
  content: '˂';
  background: linear-gradient(to right, black, transparent);
}

.carousel::after {
  content: '˃';
  background: linear-gradient(to left, black, transparent);
}

.info {
  position: absolute;
  bottom: 0;
  right: 0;
}

.info-content {
  position: relative;
  z-index: 50;
  background-color: rgba(242, 242, 242, .7);
}

.info-button {
  list-style: none;
  float: right;
  display: block;
  line-height: 1.5;
  padding: 1px 3px;
  cursor: pointer;
  font-weight: 600;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(242, 242, 242, .7);
}

.info-button::-webkit-details-marker {
  display: none;
}

.info-text {
  margin: 0;
  display: inline-block;
  line-height: 1.5;
  padding-top: 1px;
  padding-left: 3px;
  padding-bottom: 1px;
  padding-right: 1.5rem;
}

ul {
  list-style-type: square;
  list-style-position: inside;
  padding-left: 0;
  margin-bottom: 17px;
  margin-top: 5px;
}

dl {
  display: grid;
  grid-gap: 4px 16px;
  grid-template-columns: max-content;
}

dt {
  font-weight: bold;
  margin-bottom: 10px;
}

dd {
  margin: 0;
  padding-bottom: 10px;
  grid-column-start: 2;
  border-bottom: 1px solid hsl(0, 0%, 85%);
}

.index {
  list-style-type: none;
}

.description-title {
  margin: 0px;
  padding: 15px 0 0 15px;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.4rem;
}

.description {
  font-size: 1.3rem;
  margin: 0px;
  padding: 15px;
  display: inline-block;
}

.author {
  font-weight: 200;
  font-size: 1.5rem;
}

.col1 {
  padding-top: 19px;
  padding-left: 19px;
}

.row2 .col1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.index-container {
  column-width: 14em;
  column-gap: 2em;
}

.index-container, .glossary-container {
  padding: 15px;
}

.refs {
  font-size: .95rem;
  list-style-position: inside;
  padding-left: 0;
  margin-top: 0;
}

.refs li::marker {
  color: hsl(0, 0%, 40%);
}

.refs-title {
  color: hsl(0, 0%, 40%);
  font-weight: 500;
  font-size: .95rem;
  margin: 0;
  padding-bottom: 3px;
}

.license {
  margin: 15px;
  font-size: .9rem;
}

.license-image {
  height: 1rem;
  margin-left: 1px;
  vertical-align: text-bottom;
}

@media screen and (min-width: 600px) {

  .dropdown {
    display: none;
  }

  .nav-links {
    display: block;
  }

  .nav-link-list {
    position: static;
    height: auto;
    padding-top: 0;
    margin-top: 0;
  }

  .nav-links:focus-within > .nav-link-list {
    position: static;
  }

  .nav-links:focus-within + .nav-links-dismiss, .nav-links-dismiss {
    display: none;
  }

  .nav-link {
    display: inline;
    padding: 0;
    border-bottom-width: 0;
  }

  .nav-link:not(:first-child) {
    padding-left: 6px;
  }

  .nav-link:not(:last-child) {
    padding-right: 3px;
    border-right: 2px solid hsl(0, 0%, 85%);
  }

  .row1, .row2 {
    display: flex;
    justify-content: space-between;
  }

  .col1 {
    flex: 1;
    margin-right: 10px;
  }

  .row1 .col1 {
    align-self: flex-end;
  }

  .row2 .col1 {
    align-self: flex-start;
  }

  .col2 {
    order: 1;
  }

  .row1 .col2 {
    flex: 1.2;
  }

  .row2 .col2 {
    flex: 6.5;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .page-title-container, .glossary-title-container {
    container-type: inline-size;
    max-width: 560px;
  }

  .page-title {
    font-size: 10cqw;
  }

  .author {
    font-weight: 200;
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .main-img {
    min-width: 300px;
  }

  .map {
    max-width: 180px;
  }

}
