body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
}

.main {
  max-width: 1300px;
  margin: 0 auto 2em auto;
}

.main-header {
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar {
  padding: 5px 15px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.nav-home {
  font-weight: 500;
  font-size: 2rem;
}

.nav-link {
  font-weight: 300;
  font-size: 1rem;
}

.rank {
  font-size: .9rem;
  font-weight: 300;
  text-transform: uppercase;
  background-color: hsl(0, 0%, 90%);
  padding: 3px;
}

.page-title {
  font-weight: 350;
  font-size: 2.5rem;
  margin: 0;
}

.subtitle {
  font-weight: 250;
  font-size: 1.25rem;
  margin-top: 0;
  margin-bottom: 17px;
}

.taxa-list-title {
  font-size: .9rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 0;
}

.genus, .species {
  font-style: italic;
}

.nav-home {
  color: darkslategrey;
}

a {
  text-decoration: none;
  color: sienna;
}

a:hover {
  filter: brightness(50%);
}

.nav-parent {
  margin-bottom: 30px;
  display: inline-block;
}

.parent-taxa-rank {
  text-transform: uppercase;
  font-weight: 300;
}

.prev, .next {
  font-size: .8rem;
  margin-bottom: 17px;
  display: inline-block;
}

.prev {
  margin-right: 3px;
}

.next {
  margin-left: 3px;
}

.navbar, .row1, .row2, .index-container  {
  border-bottom: 1px solid hsl(0, 0%, 85%);
  background-color: hsl(0, 0%, 95%);
}

.row2 {
  padding-bottom: 15px;
}

.main-img {
  max-width: 100%;
  display: block;
  margin: 0;
}

.map {
  max-width: 100%;
  display: block;
  margin: 0;
}

.figure {
  margin: 0;
  position: relative;
}

.info {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(242,242,242, .7);
}

.info-button {
  list-style: none;
  float: right;
  display: inline-block;
  line-height: 1.5;
  padding: 1px 3px;
  cursor: pointer;
  font-weight: 600;
}

.info-button::-webkit-details-marker {
  display: none;
}

.info-text {
  margin: 0;
  display: inline-block;
  line-height: 1.5;
  padding: 1px 3px;
}

ul {
  list-style-type: square;
  list-style-position: inside;
  padding-left: 0;
  margin-bottom: 17px;
  margin-top: 5px;
}

.index {
  list-style-type: none;
}

.description {
  font-size: 1.3rem;
  margin: 0px;
  padding: 15px;
  display: inline-block;
}

.author {
  font-weight: 200;
  font-size: 1.5rem;
}

.col1 {
  padding-top: 19px;
  padding-left: 19px;
}

.index-container {
  column-width: 14em;
  column-gap: 2em;
  padding: 15px;
}

.row2 {
  padding-right: 19px;
}

.row2 .col2 {
  position: relative;
}

.license {
  margin: 15px;
  font-size: .9rem;
}

.license-image {
  height: 1rem;
  margin-left: 1px;
  vertical-align: text-bottom;
}

@media screen and (min-width: 600px) {

  .row1, .row2 {
    display: flex;
    justify-content: space-between;
  }

  .col1 {
    flex: 1;
    margin-right: 10px;
  }

  .row1 .col1 {
    align-self: flex-end;
  }

  .row2 .col1 {
    align-self: flex-start;
  }


  .col2 {
    order: 1;
  }

  .row1 .col2 {
    flex: 1.2;
  }

  .row2 .col2 {
    flex: 6.5;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .page-title {
    font-size: 3rem;
  }

  .author {
    font-weight: 200;
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .main-img {
    min-width: 330px;
  }

  .map {
    max-width: 180px;
  }

}
